@import "default.css";

body,
button{
    background-color: #ebcb5a;

}

.login-nav, .logo {
    color: black;
}
.login-nav:hover, .logo:hover {
    color: #646464;
}

.login-aside .container,
.age-container,
.name-container,
.login-text,
#themes, .expression, .op {
    background-color: #20639b;
    color: white;
}

.name,
.age,
.theme,
.input, .del {
    background-color: #3caea3;
    color: black;
}

.submit,
#equal,
.status,
.info,
.status,
.correct,
.wrong  {
    background-color: #173f5f;
}

input::placeholder,
.input::placeholder {
    color: #181818;
}

.theme-default {
    background-color: #2d857c;
    color: white;
}

.theme:hover,
.theme-default:hover {
    cursor: pointer;
    background-color: #2d857c;
    color: white;
    transition: 0.2s;
}



