@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap');
@import "home.css";
@import "login.css";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
nav .container {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .container {
    display: grid;
}

nav a {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight: bold;
}

.logo {
    font-size: 30px;
}

.nav-themes {
    gap: 10px;
    display: flex;
}
.login-nav {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-weight: bold;
    border-style: none;
}
button{
    background-color: grey;
}
.logo:hover,
.login-nav:hover {
    color: aqua;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 530px) {
    .logo {
        font-size: 20px;
    }
    .login-nav {
        font-size: 15px;
    }
}
@media (max-width: 380px) {
    .nav-themes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

img {
    width: 5%;
}