@import "default.css";

body,
.login-nav, main .container{
    background-color: #0C725A;

}
footer, main  {
    width: 100%;
    height: 515px;
    background-image: url("../images/marvel.png");
}
footer {
    height: 515px;
}
.login-aside .container,
.age-container,
.name-container,
.login-text,
#themes,
.expression,
.op {
    background-color: #004d7c;
    color: white;
}

.name,
.age,
.theme,
.input,
.del {
    background-color: #b6af06;
    color: black;
}

.submit,
#equal,
.status,
.info,
.status,
.correct,
.wrong {
    background-color: #0d0096;
}

input::placeholder,
.input::placeholder {
    color: #4e4e4e;
}

.theme-default {
    background-color: #615e03;
    color: white;
}

.theme:hover,
.theme-default:hover {
    cursor: pointer;
    background-color: #615e03;
    color: white;
    transition: 0.2s;
}

